blockquote {
  border: 0 none;
  border-radius: 0;
  padding: 2.5rem remy(50px);
  margin: 20px 0;
  background: linear-gradient(to right, $primary, $secondary);
  p {
    color: #fff;
    margin: 0;
    font-size: 1.33rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  cite {
    margin-top: 1.66rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: $light-gray;
    position: relative;
    display: inline-block;
    padding-left: remy(55px);
    &:before {
      @extend .bg-light;
      position: absolute;
      content: "";
      width: remy(40px);
      height: 2px;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &.wp-block-quote {
    border: 0 none;
    border-radius: 0;
    background: linear-gradient(to right, $primary, $secondary);
    p {
      @extend .color-light;
      font-weight: 400;
    }
    cite {
      color: rgba($light, 0.7);
    }
    &.is-style-large{
      padding: 2.5rem remy(50px);
      margin: 20px 0;
    }
  }
}
.wp-block-pullquote{
  blockquote{
    background: inherit;
    border: inherit;
    p{
      color: inherit;
    }
  }
}
.wp-block-quote{
  margin: 45px 0 50px;
}
.wp-block-quote.is-large{
  padding: 2.5rem remy(50px);
}